.market-snippet-container {
  border: 1px solid #67727e;
  width: 80%;
  text-align: center;
  margin-bottom: 15px;
  font-family: 'Roboto', sans-serif;
  backdrop-filter: blur(2px);

  
}

.market-snippet-container h3 {
  text-transform: uppercase;
}

.contentContain{
  margin:0px auto;
}
