.footer {
    z-index: 9;
  
    display: flex;
  justify-content: center;
    background:grey;
    height: 20vh;
    width: 100vw;
   
};

h1{
    margin: .25rem;
    padding: .25rem;
    color: white;
    text-align: center;
    
};

img, .githubIcon {
  
   margin: .25rem;
   padding: .25rem;

    
   

}
