
.todo-container{
    position: absolute;
    top: 80px;
    right: 0;
    width: 40vw;
    height: 40vh;
    z-index: -1;
    /* background-color: white; */
}


.form-container{
    margin-top: 40px;
    padding: 5px 0 0 12px;
    display: flex;
    flex-wrap: wrap;
}