.body {
  background: #f1f1f1;
}

.userpage-body {
  width: 40vw;
  /* height:100vh; */
}

<<<<<<< HEAD
.todo {
  /* height: 100vh; */
}

/* .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
=======

.todo{
 height:100vh;
}


>>>>>>> a640bea7f3ef8fbc2c67fd3d181f68c843997794
