.arrow {
  width: 40px;
  height: 40px;
  border-top: 3px solid #67727e;
  border-right: 3px solid #67727e;
  position: fixed;
  top: 50%;
  z-index:1;

}

.right-arrow {
  transform: rotate(-135deg);
  right: 1vw;
}

.left-arrow {
  transform: rotate(45deg);
  right: 42vw;
  z-index: 3;
}

.arrow:hover {
  opacity: 0.5;
  cursor: pointer;
}


